<center>
    <h1> Welcome to Shroomies </h1>
    {{#each posts}}
    <h2>{{title}}</h2>
    <img src="{{image}}" alt="{{title}}">
    <p> lat:{{lat}} lon:{{lon}}</p>
    <p>Comments: {{commentCount}}</p>

    {{/each}}
    <form id="shroomForm">

        <button id="location">click for location</button>

    </form>
</center>


<script src="/js/addShroom.js"></script>