<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>


<center>
    <h1> Welcome to <span class="title">Shroomies</span></h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Post your Shroomies
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post Your Shroomies</h5>
                    <button type="button" id="postBtn" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="shroomForm">
                        <div class="mb-3">
                            <label for="name" class="form-label">Title</label>
                            <input type="text" id="titleInput" class="form-control" name="title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" id="descriptionInput" class="form-control" name="description">
                        </div>


                        <div class="mb-3" id="latInputWrap" style="display:none;">
                            <label for="latitude" class="form-label">Latitude</label>
                            <input type="text" id="latInput" class="form-control" name="latitude" readonly>
                        </div>

                        <div class="mb-3" id="lonInputWrap" style="display:none;">
                            <label for="longitude" class="form-label">Longitude</label>
                            <input type="text" id="lonInput" class="form-control" name="longitude" readonly>
                        </div>
                        <div class="lds-dual-ring" style="display:none;"></div>



                        <div class="mb-3" id="imageInputWrap" style="display:none;">
                            <label for="image" class="form-label">Image</label>
                            <input type="text" id="imageInput" class="form-control" name="image" readonly>
                        </div>
                        <div class="modal-footer">
                            <button id="upload_widget" class="custom-btn-color btn btn-primary">Upload Image</button>
                            <button id="location" class="btn btn-primary">Click for Current Location</button>
                            <button id="post" type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>
<br>

    {{#if posts.length}}
        {{#each posts as |post|}}
    <div class="col-md-6 post-list" id="postList">

    
        <div class="row mb-2 postcard" id="posts">
            <div class="col-md-8">
                <h4>Title: {{post.title}}</h4>
                <p>Description: {{post.description}}</p>
                <img width=100% height="auto" src="{{image}}" alt="{{title}}">
                <p>Coordinates: {{lat}}, {{lon}}</p>
                <p></p>


                {{#if comments.length}}
                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <p class="comments">Comments: {{commentCount}}</p>
                    </button>
                   <br>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {{#each commentContent as |comment|}}
                        <p class="comments">Comment: {{comment}}</p>
                        <p>_______</p>
                        {{/each}}
                    </div>
                </div>
                <br>
                {{/if}}

                <form class="commentForm" data-id="{{post.id}}">
                    <textarea class="commentInput" rows="3"></textarea>
                    <br>
                    <button class="commentBtn btn btn-primary">Leave a Comment</button>
                </form>
                {{#if belongsToUser}}
                   
                        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete Your Post</button>
                    
                    {{/if}}
            </div>
        </div>









    </div>
    {{/each}}
    <br>
    </div>
    {{/if}}

</center>

<script>
    $(document).on('click', function () {
        $('.collapse').collapse('hide');
    })
</script>

<script src="/utils/formatDate.js"></script>
<script src="/js/addShroom.js"></script>
<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>